# Calculate IAA using Fleiss Kappa

In [1]:
import pandas as pd

In [46]:
annotation_result_df = pd.read_csv("iaa.csv")

In [47]:
annotation_result_df

      num    원익    수민    유정    결론
0      11  2111  2111  2111  2111
1      12  2341  2141  2131  2341
2      19  4131  4131  4421  3131
3      25  2411  2131  2141  2431
4      27  1155  2151  2131  2151
..    ...   ...   ...   ...   ...
633  2426  2133  2133  2131  2133
634  2432  4421  2421  2421  2421
635  2434  2262  2162  2431  2262
636  2435  3345  3355  3155  3345
637  2437  2221  4421  2421  2221

[638 rows x 5 columns]

In [29]:
""" data format
worker1	worker2	worker3
1	1	2
3	1	3
3	3	3
4	1	4
4	4	2
""" 
annotation_results = [[],[],[],[]]
annotator1 = annotation_result_df["원익"]
annotator2 = annotation_result_df["수민"]
annotator3 = annotation_result_df["유정"]

In [30]:
for a1, a2, a3 in zip(annotator1, annotator2, annotator3):
    for i in range(4):
        annotation_results[i].append(
        {
            "annotator1": int(str(a1)[i]),
            "annotator2": int(str(a2)[i]),
            "annotator3": int(str(a3)[i]),
        })

In [31]:
def calculate_iaa(annotation_result):
    import pandas as pd
    import numpy as np
    from fleiss import fleissKappa

    result = annotation_result.to_numpy()
    num_classes = int(np.max(result))

    transformed_result = []
    for i in range(len(result)):
        temp = np.zeros(num_classes)
        for j in range(len(result[i])):
            temp[int(result[i][j]-1)] += 1
        transformed_result.append(temp.astype(int).tolist())

    kappa = fleissKappa(transformed_result,len(result[0]))
    return

In [49]:
for i in range(4):
    print(f"Tag Type : {i+1}")
    calculate_iaa(pd.DataFrame(annotation_results[i]))
    print()

Tag Type : 1
#raters =  3 , #subjects =  638 , #categories =  5
PA =  0.6003134796238236
PE = 0.3414640404695534
Fleiss' Kappa = 0.393

Tag Type : 2
#raters =  3 , #subjects =  638 , #categories =  4
PA =  0.7126436781609167
PE = 0.38718773509606924
Fleiss' Kappa = 0.531

Tag Type : 3
#raters =  3 , #subjects =  638 , #categories =  6
PA =  0.6269592476489018
PE = 0.21707235581411347
Fleiss' Kappa = 0.524

Tag Type : 4
#raters =  3 , #subjects =  638 , #categories =  6
PA =  0.6844305120167168
PE = 0.3377543678051731
Fleiss' Kappa = 0.523